version: '3.8' #"Efter bogen" nuancen: Faktisk er den aller-nyeste standard
#(kaldet "The Compose Specification"),
#at man slet ikke behøver skrive version i toppen længere.

services:
  app:
    build:
      context: ./backend-t-shirt
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      # MySQL Connection String
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/billigtshirtdb?allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      # Hibernate skal kende til MySQL dialekten
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQL8Dialect
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - db

  db:
    # VIGTIGT: Find hash for mysql:8.0 på Docker Hub for at køre efter bogen
    # image: mysql:8.0@sha256:.....
    image: mysql:8.0@sha256:0275a35e79c60caae68fac520602d9f6897feb9b0941a1471196b1a01760e581
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword # Kræves af MySQL
      MYSQL_DATABASE: billigtshirtdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data: